.DS_Store
workspace/main.py
workspace/main.cpp
workspace/main.out
workspace/main.out.dSYM/
workspace/[A-Z]*.cpp
workspace/Template.cpp
workspace/Template.py
workspace/Headers.hpp
!workspace/Templates/
!workspace/Templates/Template.cpp
!workspace/Templates/Template.py
!workspace/Templates/Headers.hpp
workspace/input.txt
workspace/output.txt
workspace/IOFiles/*
!workspace/IOFiles/.gitkeep
!workspace/IOFiles/input.txt
!workspace/IOFiles/output.txt
node_modules/
